body {background-color: grey;}

header {background-color: yellow;}

h1 {font-family: Georgia, 'Times New Roman', Times, serif;}

p {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.lorem {color: aqua;
font-size: 20px;}

.image {text-align: center;}