body {
  background-image: url("https://wallpaperaccess.com/full/674712.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}

.oui {color: red;
      text-align: center;
      font-size: 25px;
      }

.lup {color: yellow;}




